### 튜플로 데이터 전달하는 방식
1. %d : 정수 표현
- %s : 문자 표현
- %f : 부동 소수 표현

In [1]:
# test data
intValue = 30
floatValue = 20.67

In [2]:
print("%d %s %f" % (intValue, '포멧 연습', floatValue))

30 포멧 연습 20.670000

In [3]:
print("%d %s %0.2f" % (306, '포멧 연습', floatValue))

306 포멧 연습 20.67

In [4]:
# format 함수를 사용한 다양한 표현식
print(format(intValue, "10d"))

        30

In [5]:
"첫번째:{}, 두번째:{}".format(intValue, floatValue)

'첫번째:30, 두번째:20.67'

In [6]:
"첫번째:{0}, 두번째:{1}".format(intValue, floatValue)

'첫번째:30, 두번째:20.67'

In [7]:
"첫번째:{1}, 두번째:{0}".format(intValue, floatValue)

'첫번째:20.67, 두번째:30'

In [19]:
datas = [10, 3, 5, 20, 6]
"최대값 :{}, 최소값 : {}".format(max(datas), min(datas))

'최대값 :20, 최소값 : 3'

In [20]:
datas

[10, 3, 5, 20, 6]

In [34]:
# datas는 1차원 구조의 list 따라서 [][](2차원 의미) 문법 사용 불가
"리스트로 인스 전달하는 방법 : {[2]}".format(datas)

'리스트로 인스 전달하는 방법 : 5'

In [22]:
# 중첩 list 즉 2차원 구조와 흡사
datas2 = [[1, 2],[6, 7]]

In [30]:
"리스트로 인스 전달하는 방법 : {[1][1]}".format(datas2) #7

'리스트로 인스 전달하는 방법 : 7'

In [35]:
# 키워드 인수 사용 
"겨울 날씨 {v1}, 2019년 {v2}".format(v1='춥다', v2='한달 반 후')

'겨울 날씨 춥다, 2019년 한달 반 후'

In [39]:
# {key:value,...} dict 를 사용한 format_map 함수 예제 만들어 보기
datas2 = {'v1':'춥다', 'v2':'한달 반 후'}
"겨울 날씨 {v1}, 2019년 {v2}".format_map(datas2)

'겨울 날씨 춥다, 2019년 한달 반 후'